<ng-include src="'views/home.html'"></ng-include>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2"> 
            <div class="col-md-6">
               <!--  <h3>Add New Post</h3>
                @if (session('status'))
                <div class="alert alert-success">
                    {{ session('status') }}
                </div>
                @endif
                @if (session('warning'))
                    <div class="alert alert-warning">
                        {{ session('warning') }}
                    </div>
                @endif -->
                <div class="alert alert-success" ng-if="status">
                    {{status}}
                </div>
                <form enctype="multipart/form-data" accept-charset="UTF-8">
                    
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group ">
                        <label for="Title:">Title:</label>
                        <input ng-model="post.title" class="form-control" placeholder="Enter Title" name="title" type="text" required autofocus>
                        <!-- @if ($errors->has('title'))
                            <span class="help-block">
                                <strong style="color:red;">{{ $errors->first('title') }}</strong>
                            </span>
                        @endif -->
                        <label for="Title:">Text:</label>
                        <textarea  ng-model="post.text" class="form-control" placeholder="Enter Text" name="text" rows="6" cols="80" required autofocus></textarea>
                        <!-- @if ($errors->has('text'))
                            <span class="help-block">
                                <strong style="color:red;">{{ $errors->first('text') }}</strong>
                            </span>
                        @endif -->
                        <label for="Category:">Category:</label>
                        <select  ng-model="inputs.category_id" class="form-control"  name="category_id" required autofocus>
                                <option  ng-repeat="category in categories" value="{{ category.id }}" >    {{category.title}}
                                </option>
                        </select>
                        <!-- @if ($errors->has('category_id'))
                            <span class="help-block">
                                <strong style="color:red;">{{ $errors->first('category_id') }}</strong>
                            </span>
                        @endif -->
                        <span class="text-danger"></span>
                         <label for="Category:">Image:</label>
                         <span id="fileselector">
                             <label class="btn btn-default form-control" for="upload-file-selector">
                                <input type="file" ngf-select ng-model="file" name="file"    
                            accept="image/*" ngf-max-size="2MB"
                            ngf-model-invalid="errorFile"/>
                                <i class="fa_icon icon-upload-alt margin-correction"></i>
                            </label> 
                            <!-- @if ($errors->has('image'))
                                <span class="help-block">
                                    <strong style="color:red;">{{ $errors->first('image') }}</strong>
                                </span>
                            @endif -->
                        </span> 
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" ng-click="update(post,file)">Update</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>