<ng-include src="'views/home.html'"></ng-include>
<div class="container">
	<h2 style="color:blue"><span style="color:black">Category:</span>{{category.title}}</h2>
  	<div class="well">
  		<!-- @if(empty($spec_posts[0])) -->
  			<h1 ng-if="!spec_posts[0]">There are no posts... </h1>
  		<!--@endif -->
	   <!--  @foreach($spec_posts as $spec_post)-->
    			<div  ng-repeat="spec_post in spec_posts" style="width: 600px;border:2px solid silver;margin:0 auto;overflow:hidden;">
	    			<div class="media">
		      			<!-- <a class="pull-left" href="#">
		    				@if(!empty($spec_post->image))
		    					<img class="media-object" style="width:200px" src="{{url('/images/'.$spec_post->image) }}">
		    				@else
		    				<img class="media-object" style="width:200px" src="{{url('/images/logo.jpg') }}">
		 					@endif 
		  				</a>-->
		  				<div class="media-body">
		    			<h4 class="media-heading" style="color:green"><span style="color:black">Title:</span>  {{spec_post.title}}</h4>
		          		<p>{{spec_post.text}}</p>
		       			</div>
		     		</div>
    			</div>
  			<!--@endforeach  -->
 	 </div>
</div>