<h2> Hi {{user}}</h2>
<div class="nav-side-menu" style="width:200px">
                <div class="brand" style="margin-left:20px;font-size:22px"><strong>Menu</strong></div>
                <div class="menu-list">
                    <ul id="menu-content" >
                        
                        <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                          <a href=""><i class="fa fa-users fa-lg"></i> Users <span style="color:black;margin-left:10px">{{count_user}}</span> <span class="arrow"></span></a>
                        </li>
                        <li data-toggle="collapse" data-target="#service" class="collapsed">
                          <a href=""><i class="fa fa-globe fa-lg"></i> Categories <span style="color:black;margin-left:10px">{{count_category}}</span><span class="arrow"></span></a>
                        </li>  
                        <ul class="sub-menu collapse" id="service">
                          <li><a ui-sref="my_categories">My Categories</a></li>
                          <!-- <li><a ui-sref="categories">All Categories</a></li> -->
                        </ul>
                        <li data-toggle="collapse" data-target="#new" class="collapsed">
                          <a href=""><i class="fa fa-envelope"></i> Posts<span style="color:black;margin-left:10px">{{count_post}}</span><span class="arrow"></span></a>
                        </li>
                       <!--  <ul class="sub-menu collapse" id="new">
                          <li><a ui-sref="my_posts">My Posts</a></li>
                          <li><a ui-sref="posts">All Posts</a></li>
                        </ul> -->
                    </ul>
                </div>
            </div>