<ng-include src="'views/home.html'"></ng-include>
<div style='width: 600px;margin:0 auto;'>
 <div class="alert alert-success" ng-if="status">
                    {{status}}
                </div>
 			<form accept-charset="UTF-8">
                    <div class="form-group ">
                        <label for="Title:">Category-title:</label>
                        <input ng-model="category.title" class="form-control"  name="title" type="text">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" ng-click="update(category)">Update</button>
                    </div>
            </form>
		</div>